	
<td class="col-lg-1"><i class="glyphicon glyphicon-trash pull-left"></i> <%= index+1  %> </td>
<td> <%= name  %> </td>
<td class="col-lg-2 text-center">
	<i class="glyphicon glyphicon-usd"></i>
	<%= price %>
</td>
<td class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
	<input data-itemCode="<%=itemCode%>" class="form-control input-sm input-qty" type="number" value="<%= qty%>"> 
</td>
<td class="col-lg-2 text-right">
	<i class="glyphicon glyphicon-usd"></i>
	<strong><%= total %></strong>
</td>
